#outer {
background-color:#fff;

width:800px;
border-left: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
}
#header {
height:80px;
}
.header-inner {
padding:15px 0 0 20px;
font-size:12px;
}
.header-inner p{
font-size:12px;
}
img {
border:0;
}
a{
color:#094a94;
}
#content {
float:right;
width:580px;
}
.inner {
margin:0 20px 0 0;
padding:0;
}
#left {
color:#676767;
font-size:13px;
width:220px;
float:left;
}
.left-title {
margin:0 15px 0 20px;
padding:7px 20px;
font-weight:bold;
background-color:#E3E3E3;
color:#333;
border-top: 1px solid #c7c7c7;
border-right: 1px solid #c7c7c7;
border-left: 1px solid #c7c7c7;
}
.link {
margin:0 15px 7px 20px;
padding:7px 8px 7px 13px;
line-height:170%;
border: 1px solid #c7c7c7;
}
.link a{
color:#094a94;
text-decoration:none;
}
.link a:hover{
text-decoration:underline;
}
ul {
margin: 0 0 0 1em;
padding: 0;
}
li {
list-style:disc; 
}
#footer {
text-align:center;
color:#666;
font-size:12px;
height:70px;
padding-top:10px;
clear:both;
}
blockquote{
border:1px solid #ccc;
padding:5px;
margin:10px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
li{
  font-size: 20px;
}
ul.sample1{
  
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
  width: 200px;
}
ul.sample1 li{
  position:relative;
  margin: 7px 0 7px 0px;
  padding-left:43px;
  font-weight: bold;
  font-size:16px;
  line-height: 30px;
  border: 2px solid #756C67;
  color: #756C67;
}
ul.sample1 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height:30px;
  background: #756C67;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ul.sample1 li:after{
  content:"";
  display: block;
  position: absolute;
  left: 30px;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #756C67;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-
}

